body {
    font-size: 1em;
    line-height: 1.4;
    color: #444444;
    background-color: #F5F5F3;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

header {
    width: 91%;
    margin: 4.8% auto 5.5% auto;
    font-family: 'Inter', sans-serif;
    font-size: 4.8rem;
    line-height: 1;
    font-weight: 500;
}

h1 {
    color: #2454FF;
}

h2 {
    max-width: 1140px;
}

p {
color: #2454FF;
}

@media (max-width: 600px) {
  header {
    width: 85%;
    margin: 10% auto 5.5% auto;
    font-size: 2.2rem;
    line-height: 1;    
    font-weight: 500;
    }
}
