/*

Kowalski Theme
Developed by Fernando Bruno

*/

.super-root {
    background-color: lime;
    margin: 0;
    padding: 0;
}

.notion-header {
    margin: 4.25rem auto !important;
    padding-bottom: 4.25rem !important;
    border-bottom: 1px solid #657786 !important;
    width: 75% !important;
    max-width: 960px !important;
}

.notion-header__title {
    font-size: 3.75rem !important;
    font-weight: 700 !important;
    line-height: 4rem;
}

.notion-quote {
    width: 40% !important;
    padding: 0 !important;
    margin: 0 auto 5rem auto !important;
    border: 0 !important;
}

.notion-property__title__icon-wrapper {
    display: none !important;
}

.notion-collection-gallery {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
}

.notion-collection__header-wrapper {
    display: none !important;
}

.notion-collection-card.gallery {
    width: 47% !important;
    margin-bottom: 3rem !important;
	border-bottom: 2px solid var(--color-text-default) !important;
	padding-bottom: 2rem !important;
}

.notion-collection-card {
    box-shadow: none !important;
}

.notion-property__title {
    font-size: 2rem !important;
    font-weight: 700 !important;
    line-height: 1 !important;
    margin: .6rem !important;
}

.notion-property__date {
    font-size: .8rem !important;
    font-style: italic !important;
    margin: 4px 0 !important;
}

.notion-property__date:before {
    content: "—" !important;
}
