/*

Kowalski Theme
Developed by Fernando Bruno

*/

.super-root {
    background-color: #e5e7ec;
    margin: 0;
    padding: 0;
}

.notion-header {
    margin: 4.25rem auto;
    padding-bottom: 4.25rem;
    border-bottom: 1px solid #657786;
    width: 75%;
    max-width: 960px;
}

.notion-header__title {
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 1;
}

.notion-quote {
    width: 40%;
    padding: 0;
    margin: 0 auto 5rem auto;
    border: 0;
}

.notion-property__title__icon-wrapper {
	display: none !important;
}

.notion-collection-card {
  box-shadow: none;
}

.notion-property__title {
	font-size: 2rem !important;
	font-weight: 700;
	line-height: 1;
	margin: .6rem;
}

.notion-property__date {
	font-size: .8rem;
    font-style: italic;
	color: var(--color-text-gray);
	margin: 4px 0;
}

.notion-property__date:before {
    content: "—";
}
