article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}

li,
ol,
ul {
    list-style: none;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
    max-width: 100%;
}

img,
svg,
video,
canvas {
    height: auto;
}

img {
    border-style: none;
}

a {
    font-weight: 300;
    text-decoration: none;
}

/* End Reset */

body {
font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f8f8f8;
    font-weight: 300;
}

.flex-container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Header */

header {
    flex: 100%;
    line-height: 50px;
    margin-bottom: 1%;
    text-align: left;
    padding: 0 0 0 2%;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2% 6% 0 6%;
}

h1 {
    flex: 0 22%;
    overflow: hidden;
    font-size: 1.2rem;
    color: #8B8B8B;
}

ul.menubar {
    flex: 0 68%;
    overflow: hidden;
}

ul.menubar {
    text-align: right;
}

ul.menubar li {
    display: inline;
    margin-right: 10px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1em;
}

ul.menubar li a {
    color: #B4B4B4;
    transition: 0.5s;
}

ul.menubar li:last-of-type {
    margin-right: 0;
}

ul.menubar li a:hover {
    color: #171717;
}

div.encabezado {
    width: 100%;
    margin-bottom: 14%;
}

/* Sections */

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 12%;
}

section#servicios,
section#productos,
section#clientes {
    padding: 0 6%;
}

section#clientes {
    padding-bottom: 10%;
    padding-top: 5%;
}

h2.productos,
h2.servicios,
h2.clientes {
    flex: 100%;
    line-height: 1.1;
    margin-bottom: 4%;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: -0.02em;
    color: #0d3380;
}

div.item-17 {
    flex: 0 18%;
    overflow: hidden;
}

div.item-33 {
    background-color: #fff;
    flex: 0 32%;
    border-radius: 10px;
    overflow: hidden;
}

div.item-50 {
    background-color: #0d3380;
    color: #fff;
    flex: 0 49%;
    overflow: hidden;
}

div.item-33 p,
div.item-50 p {
    padding: 24px 26px 32px 26px;
}


div.item-17 img {
    margin: 0 auto;
}


footer {
    flex: 100%;
    line-height: 50px;
    text-align: center;
    padding-top: 4%;
    background-color: #0e1520;
    color: #fff;
    min-height: 750px;
    width: 100%;
}

/* Carrousel */

* {
    box-sizing: border-box;
}

.carousel-cell {
    width: 100%;
    text-align: left;
    height: 560px;
    padding: 6%;
    color: #0d3380;
}

h5 {
        font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
}

p.bajada {
    max-width: 70%;
    margin-top: 3%;
    font-size: 1.2rem;
}

div#c1 {
    background-image: url("img/7.jpg");
    background-size: cover;
}

div#c2 {
    background-image: url("img/8.jpg");
    background-size: cover;
}

.flickity-page-dots {
    bottom: -30px !important;
}

/* Media queries */

@media only screen and (max-width: 800px) {


    .flex-container {
        padding: 0 3%;
    }

    header {
        padding: 2% 0 0 0;
    }

    div.encabezado {
        margin-bottom: 8%;
    }

    div#c1 {
        background-image: url("img/coral.gif");
    }

    div#c2 {
        background-image: url("img/soft.gif");
    }

    .carousel-cell br {
        display: none;
    }

    div.item-17,
    div.item-33,
    div.item-50 {
        flex: 100%;
    }

    h2.productos,
    h2.servicios,
    h2.clientes {
        text-align: center;
    }
}