*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    hanging-punctuation: first last;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

p,
li {
    text-wrap: pretty;
    overflow-wrap: break-word;
}

img,
picture,
video,
svg {
    max-width: 100%;
    display: block;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
        scroll-padding-top: 4rem;
    }
}

/* Layout and Grid
–––––––––––––––––––––––––––––––––––––––––– */

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    line-height: 1.5;
}

:root {
    --grande: 85%;
    --mediano: 70%;
    --chico: 50%;
    --margen: 160px;
    --ancho-grande-maximo: 1280px;
    --ancho-mediano-maximo: 1140px;
    --ancho-chico-maximo: 750px;
    --azul: #00468B;
    --azul-oscuro: #001428;
    --celeste: #3266db;
    --gris: #747A86;
    --negro: #1c222d;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––– */

h1 {
    font-size: 24px;
    line-height: 45px;
    letter-spacing: -0.015em;
    font-weight: 900;
    color: var(--azul);
}

.hero {
    background-image: url("img/hero-image.avif");
    background-size: cover;
    background-repeat: no-repeat;
    min-block-size: 70vh;
    margin-bottom: var(--margen);
    padding-top: 90px;
}

.hero-copy {
    color: #fff;
    width: var(--grande);
    max-width: var(--ancho-grande-maximo);
    margin: 0 auto;
}

.hero-copy h2 {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 1.3rem;
    letter-spacing: -0.012em;
    font-weight: 700;
}

.hero-copy p {
    max-width: var(--mediano);
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-bottom: 2.5rem;
}

a.boton {
    background-color: rgba(0, 20, 40, 0.65);
    color: #fff;
    display: inline-block;
    padding: 18px 30px;
    border: 1px solid #fff;
    border-radius: 7px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 15px;
    font-weight: 600;
    transition: 0.15s;
    text-decoration: none;
}

a.boton:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(0, 30, 50, 1);
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––– */

.wrapper section {
    margin: 0 auto var(--margen) auto;
}

.wrapper section:last-of-type {
    margin-bottom: 150px;
}

#conectividad,
#productos,
#soluciones,
#nosotros {
    text-align: center;
}

#streaming,
#soluciones,
#nosotros {
    width: var(--chico);
    max-width: var(--ancho-chico-maximo);
}

.wrapper section h2 {
    font-size: 32px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.012em;
    color: var(--azul);
}

.wrapper section h2+p {
    margin-top: 20px;
    letter-spacing: -0.028px;
}

.wrapper section h3 {
    font-size: 1.4rem;
    line-height: 1.1;
    font-weight: 800;
    margin-bottom: 10px;
}

.wrapper section p {
    margin-bottom: 1.1em;
}

.wrapper section p:last-of-type {
    margin-bottom: 0;
}

/* Conectividad
–––––––––––––––––––––––––––––––––––––––––– */

#conectividad {
    width: 100%;
}

.conectividad-header {
    width: var(--chico);
    max-width: var(--ancho-chico-maximo);
    margin: 0 auto 90px auto;
}

.ventajas {
    width: var(--mediano);
    max-width: var(--ancho-mediano-maximo);
    margin: 0 auto 90px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px 2%;
}

.ventaja {
    width: 32%;
    background-color: #f0f0f0;
    padding: 40px 30px 38px 30px;
    border-radius: 10px;
    overflow: hidden;
    height: 300px;
}

.ventaja h3 {
    color: var(--azul);
}

.ventaja p {
    font-size: 16px;
}

.ventaja img {
    margin: 0 auto 15px auto;
}


/* Soluciones
–––––––––––––––––––––––––––––––––––––––––– */

#soluciones img {
    margin: 30px auto 0 auto;
    width: 180px;
    height: auto;
}


/* Casos
–––––––––––––––––––––––––––––––––––––––––– */

#casos {
    width: var(--mediano);
    max-width: var(--ancho-mediano-maximo);
}

.casos-banner {
    margin-bottom: 60px; 
}

#casos strong {
    font-weight: 800;
}

.casos {
    display: flex; 
    justify-content: space-between;
    gap: 2%;
}

.casos>* {
    width: 48%;
}

.caso {
    margin-bottom: 30px; 
}

.caso p:nth-child(1) {
    font-weight: 800; 
    margin-bottom: 10px; 
    color: var(--azul);
}

.caso p:last-of-type {
    padding-left: 10%; 
}

.slideshow {
    position: relative;
    width: 900px; 
    max-width: 100%;
    height: 500px;
    overflow: hidden;
    margin: 0 auto; 
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide img {
    object-fit: cover;
}

.slide.active {
    opacity: 1;
}

/* Productos
–––––––––––––––––––––––––––––––––––––––––– */

#productos {
    width: var(--grande);
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-wrapper>* {
    width: 23.5%;
}

#productos h2,
#streaming h2,
#casos h2 {
    text-align: center;
    margin-bottom: 25px;
}

#productos h2 {
    margin-bottom: 35px;
}

.item-productos {
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--celeste);
    color: #fff;
    border: 1px solid var(--azul-oscuro);
}

.item-productos-content {
    padding: 33px 30px 38px 30px;
}

.item-productos p {
    font-size: 16px;
}

a.link-producto {
    display: block;
    margin-top: 1em;
    font-size: 1rem;
    color: #fff;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––– */

footer {
    background-color: var(--azul-oscuro);
}

.pie {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    color: #fff;
    padding: 90px 0 90px 0;
}

.colophon {
    color: #fff;
    font-size: 1rem; 
    background: #000;
}

.colophon-info {
    width: var(--grande);
    max-width: var(--ancho-grande-maximo);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 80px;
}

.colophon-info div br {
    display: none; 
}

.colophon strong {
    font-weight: 700; 
}

.redes {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}

.redes img {
    width: 40px;
    height: 40px; 
    margin-left: 3px; 
}


/* Queries
–––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 775px) {

    :root {
        --grande: 90%;
        --mediano: 90%;
        --chico: 90%;
        --margen: 80px;
    }

    .hero {
        min-block-size: 55vh;
        padding-top: 40px;
    }

    .hero-copy {
        width: 90%;
    }

    .hero-copy h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        line-height: 1.1;
        max-width: 540px;
    }

    .hero-copy br {
        display: none;
    }

    .hero-copy p {
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-bottom: 2.2em;
        max-width: 460px;
    }

    #conectividad,
    #productos,
    #soluciones,
    #nosotros,
    #productos h2,
    #streaming h2 {
        text-align: left;
    }

    .conectividad-header br, #nosotros br, .colophon-info div span {
        display: none; 
    }

    .flex-wrapper>* {
        width: 100%;
    }

    .item-productos {
        margin-bottom: 30px; 
    }

    .casos {
        display: block;
    }

    .casos>* {
        width: 100%;
    }

    .casos-banner {
    margin-bottom: 30px; 
}

    .ventaja {
    width: 100%;
}

    .slideshow { 
    height: 250px;  
}

.colophon-info {
    display: block;
    height: auto;
    padding: 50px 0; 
}

.colophon-info div br {
    display: inline; 
}

.colophon-info div, .redes {
    width: 100%;
} 

.redes {
    justify-content: flex-start;
    padding-top: 20px; 
}

.redes img {
    margin-left: 0;
    margin-right: 3px;  
}

}

/* Menu
–––––––––––––––––––––––––––––––––––––––––– */

.primary-header .container {
    margin: 0 auto;
    width: var(--grande);
    max-width: var(--ancho-grande-maximo);
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #fff;
}

.mobile-nav-toggle {
    display: none;
}

.nav-list {
    display: flex;
    gap: 0 40px;
    font-size: 15px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
}

.nav-list li {
    text-indent: 0;
    list-style-type: none;
}

.nav-list a {
    text-decoration: none;
    color: var(--gris);
}

.nav-list a:hover,
.nav-list a:focus {
    color: var(--azul);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}

@media (max-width: 50em) {

    .nav-wrapper {
        width: 100%;
    }

    .nav-list {
        display: none;
    }

    .nav-list li {
        line-height: 50px;
        border-top: 1px solid var(--gris);
    }

    .primary-navigation[data-visible] {
        display: block;
    }

    .mobile-nav-toggle {
        display: block;
        cursor: pointer;
        background: transparent;
        border: 0;
        padding: 8px 0 8px 8px;
    }

    .primary-navigation {
        position: absolute;
        top: 0;
        left: 0;
        top: 70px;
        width: 100%;
        padding: 0 5%;
        background-color: #fff;
    }

    /* Burger 
----------------------------------------*/

    #nav-icon3 {
        float: right;
        margin-top: 6px;
        width: 30px;
        height: 22px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        z-index: 999;
    }

    #nav-icon3 span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #000;
        border-radius: 3px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    #nav-icon3 span:nth-child(1) {
        top: 0px;
    }

    #nav-icon3 span:nth-child(2),
    #nav-icon3 span:nth-child(3) {
        top: 9px;
    }

    #nav-icon3 span:nth-child(4) {
        top: 18px;
    }

    #nav-icon3.open span:nth-child(1) {
        top: 9px;
        width: 0%;
        left: 50%;
    }

    #nav-icon3.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #nav-icon3.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    #nav-icon3.open span:nth-child(4) {
        top: 9px;
        width: 0%;
        left: 50%;
    }

    .hide {
        display: block;
    }
}

/* Form 
----------------------------------------*/

input,
label,
select,
button,
textarea {
    margin: 0;
    border: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    line-height: 1;
    font-size: 16px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#fs-frm,
#fs-frm-inputs {
    border: 0;
    outline: 0;
}

#fs-frm-inputs {
    margin-bottom: 16px;
}

input,
textarea {
    border: 1px solid white;
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 16px;
    color: #000;
    border-radius: 5px;
}

label {
    width: 100%;
    padding: 4px;
    margin-bottom: 6px;
    font-weight: 600;
}

::placeholder {
    color: #9CA0A9;
    opacity: 1;
}

::-ms-input-placeholder {
    color: #9CA0A9;
}

input:focus::placeholder,
textarea:focus::placeholder {
    color: transparent;
}

#submit-button {
    color: #fff;
    width: 150px;
    border: 1px solid #fff;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 15px;
    font-weight: 600;
    background-color: rgba(0, 20, 40, 0.65);
}

#submit-button:hover {
    cursor: pointer;
    color: #000;
    background-color: #fff;
}