article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}

li,
ol,
ul {
    list-style: none;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
    max-width: 100%;
}

img,
svg,
video,
canvas {
    height: auto;
}

img {
    border-style: none;
}

a {
    font-weight: 300;
    text-decoration: none;
}

/* End Reset */

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #444;
    background-color: #f8f8f8;
    font-weight: 300;
}

.flex-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Header */

header {
    flex: 100%;
    line-height: 50px;
    margin-bottom: 1%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2% 6% 0 6%;
}

div.marca {
    flex: 0 22%;
    overflow: hidden;
    font-size: 1.2rem;
    color: #0d3380;
}

ul.menubar {
    flex: 0 68%;
    overflow: hidden;
}

ul.menubar {
    text-align: right;
}

ul.menubar li {
    display: inline;
    margin-right: 10px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1em;
}

ul.menubar li a {
    color: #B4B4B4;
    transition: 0.5s;
}

ul.menubar li:last-of-type {
    margin-right: 0;
}

ul.menubar li a:hover {
    color: #171717;
}

/* Main Banner */

* {
    box-sizing: border-box;
}

div.banner {
    width: 100%;
    margin-bottom: 14%;
}

div#imagen-banner {
    width: 100%;
    text-align: left;
    height: 560px;
    padding: 6%;
    color: #fff;
    background-image: url("img/banner-03.jpg");
    background-size: cover;
}

h5 {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1.1;
}

p.bajada {
    max-width: 70%;
    margin: 3% 0 7% 0;
    font-size: 1.3rem;
    line-height: 1.8rem;
}

a.boton {
    background-color: #1b5fe8;
    color: #fff;
    display: inline-block;
    padding: 13px 30px;
    border-radius: 7px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 12px;
    font-weight: 600;
    transition: 0.5s;
}

a.boton:hover {
    background-color: #fff;
    color: #1b5fe8;
}


.flickity-page-dots {
    bottom: -30px !important;
}

.flickity-page-dots .dot.is-selected {
    background: #0d3380;
}


/* Sections */

section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12%;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    margin-bottom: 100px;
}

section h2 {
    flex: 100%;
    line-height: 1.1;
    margin-bottom: 4%;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: -0.02em;
    color: #0d3380;
}

section p.subtitulo {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #777;
}

section#productos {
    padding: 200px 0 100px 0;
    background: rgb(248, 248, 248);
    background: linear-gradient(180deg, rgba(248, 248, 248, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

section#broadcasting {
    justify-content: center;
}

section#streaming {
    justify-content: center;
    }

section#clientes {
    padding-bottom: 10%;
    padding-top: 5%;
    width: 85%;
    margin: 0 auto 100px auto;
}

section#tecnologia {
    padding: 100px 0 150px 0;
    background: rgb(248, 248, 248);
    background: linear-gradient(180deg, rgba(248, 248, 248, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

section#tecnologia p.subtitulo {
    width: 600px;
    margin:0 auto;
}

section#tecnologia p img {
    width: 260px;
    margin:50px auto 0 auto;
}

div.item-broadcasting {
    background-color: #fff;
    flex: 0 32%;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 1% 2% 1%;
}

div.item-streaming {
    background-color: #fff;
    flex: 0 49%;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 1% 2% 1%;
    max-width: 500px;
}

div.item-broadcasting h6, div.item-streaming h6 {
    padding: 24px 28px 0 28px;
    color: #1b5fe8;
    font-size: 1.2em;
}

div.item-broadcasting p, div.item-streaming p {
    padding: 0 28px 24px 28px;
}


a.link-producto {
    display: block;
    margin-top: 1em;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #B4B4B4;
    font-size: 12px;
    padding-top: 24px;
}

p.grafico {
    max-width: 780px;
    margin:  60px auto 0 auto;
}


/* Clientes */

div.item-17 {
    flex: 0 11%;
    overflow: hidden;
}

div.item-17 img {
    margin: 0 auto;
}

/* Galeria */

div.location {
    width: 100%;
    margin:  8% 0 0 0;
}

.location-cell {
    width: 50%;
    margin-right: 20px;
}

/* Footer */

footer {
    flex: 100%;
    line-height: 50px;
    text-align: center;
    padding-top: 15%;
    background-color: #1b5fe8;
    color: #fff;
    min-height: 750px;
    width: 100%;
    background-image: url('img/fondo.jpg');
    background-size: cover;
}

.footer-content { width: 600px; margin:  0 auto; padding: 50px; border-radius: 10px; }

footer h4 {
    line-height: 1.1;
    margin-bottom: 4%;
    font-size: 2.5rem;
    letter-spacing: -0.02em;
}

footer p {
    font-size: 1.8rem;
    line-height: 1.8;
}

footer p a {
    color: #fff;
}

footer p.wa {
    width: 300px;
    height: 36px;
    line-height: 37px;
    background-image: url('img/whatsapp.png');
    background-repeat: no-repeat;
    margin: 0 auto;
    text-align: right;
}

/* Media queries */

@media only screen and (max-width: 800px) {


    .flex-container {
        padding: 0 3%;
    }

    header {
        padding: 2% 0 0 0;
    }

    div.encabezado {
        margin-bottom: 8%;
    }

    div#c1 {
        background-image: url("img/coral.gif");
    }

    div#c2 {
        background-image: url("img/soft.gif");
    }

    .carousel-cell br {
        display: none;
    }

    div.item-17,
    div.item-33,
    div.item-50 {
        flex: 100%;
    }

    h2.productos,
    h2.servicios,
    h2.clientes {
        text-align: center;
    }

    .location-cell {
    width: 100%;
    margin-right: 0;
}
}