/*

Kowalski Theme
Developed by Fernando Bruno

*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


/* Variables
------------------------------------------ */

:root {
    --color-text-red: #b93c2b!important;
    --color-text-yellow: #e8e1d5!important;
}


/* Reset
------------------------------------------ */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block!important;
    vertical-align: middle!important;
}

img,
video {
    max-width: 100%!important;
    height: auto!important;
}

h1,
h2,
h3 {
    margin: 0!important;
    padding: 0!important;
}

body {
    font-family: 'Inter', sans-serif!important;
    font-size: 1.2rem!important;
    line-height: 1.4!important;
    margin: 0!important;
    padding: 0!important;
    background-color: var(--color-text-yellow)!important;
}


/* Hidden Elements
------------------------------------------ */

.notion-collection-card__anchor,
.notion-property__title__icon-wrapper {
    display: none!important;
}


/* Layout
------------------------------------------ */

.super-root {}

.notion-navbar {
    padding: 1rem!important;
    color: #C66959!important;
    font-size: .85rem!important;
    border-bottom: 1px solid #DBB4A7!important;
}

.notion-navbar a {
    color: #C66959!important;
    text-decoration: none!important;
}

.notion-breadcrumb {}

.notion-link {}

.notion-breadcrumb__item {}

.single {}

.notion-navbar__title {}

.notion-breadcrumb__title {}

.super-content-wrapper {}

.notion-header {
    width: 76%!important;
    margin: 0 auto!important;
    padding: 3.6em 0 4.2em 0!important;
}

.notion-header__cover {}

.no-cover {}

.notion-header__content {}

.no-icon {}

.notion-header__title-wrapper {}

.notion-header__title {
    font-size: 6rem!important;
    line-height: 1!important;
    letter-spacing: -0.05em!important;
    color: var(--color-text-red)!important;
}

.super-content {}

.notion-root {}

.notion-root > * {
    padding: 0!important;
    margin: 0 auto!important;
}

.notion-root > * + * {
    margin-block-start: 3rem!important;
}

/* 
.notion-root>* {
    width: 50%!important;
    margin: 0 auto 4rem auto!important;
}
*/

.notion-semantic-string {}


/* Collection
------------------------------------------ */

.notion-collection {
    width: 100%!important;
}

.inline {}

.notion-collection__header-wrapper {
    display: none!important;
}

.notion-collection__header {}

.notion-anchor {}

.notion-collection-gallery {}

.medium {}

.notion-collection-card {}

.notion-collection-card.gallery {
    display: flex!important;
    padding: 3em 12em!important;
    color: var(--color-text-red)!important;
    background-color: var(--color-text-yellow)!important;
    border-bottom: 1px solid var(--color-text-red)!important;
}

.notion-collection-card.gallery:last-of-type {
    border-bottom: 0!important;
}

.notion-collection-card__cover {
    width: 30%!important;
    margin-right: 2.4em!important;
}

.notion-collection-card__cover img {
    aspect-ratio: 5 / 3!important;
    object-fit: cover!important;
}

.notion-collection-card__content {
    width: 70%!important;
    padding-top: .4em!important;
}

.notion-property {}

.notion-property__title {
    font-size: 3rem!important;
    line-height: 1!important;
    font-weight: 700!important;
    letter-spacing: -0.02em!important;
    margin-bottom: .8rem!important;
}


/* Featured
------------------------------------------ */

.notion-collection-card.gallery:first-of-type {
    display: block!important;
    padding: 0!important;
    position: relative!important;
    color: white!important;
    border-top: 1px solid var(--color-text-red)!important;
    border-bottom: 1px solid var(--color-text-red)!important;
}

.notion-collection-card.gallery:first-of-type {
    display: block!important;
    padding: 0!important;
    position: relative!important;
    color: white!important;
}

.notion-collection-card.gallery:first-of-type>.notion-collection-card__cover {
    width: 100%!important;
}

.notion-collection-card.gallery:first-of-type>.notion-collection-card__cover img {
    width: 100%!important;
    height: 500px!important;
    object-fit: cover!important;
}

.notion-collection-card.gallery:first-of-type>.notion-collection-card__content {
    background-color: var(--color-text-red)!important;
    color: var(--color-text-yellow)!important;
    position: absolute!important;
    top: 12%!important;
    left: 12%!important;
    width: 33%!important;
    padding: 2.4em 2.4em 3.2em 2.4em!important;
}


/* Blocks
------------------------------------------ */

.notion-text {}

.notion-column-list {}

.notion-column {}

.notion-bulleted-list {}

.notion-list-item {}

.notion-quote {
    background-color: dodgerblue!important;
}

.notion-callout {}

.notion-code {
    background-color: var(--color-text-red)!important;
}

.notion-divider {
    width: 85%!important;
    height: 1px!important;
    background-color: var(--color-text-red)!important;
}

.notion-image {
    width: 85%!important;
}


/* Misc
------------------------------------------ */


.notion-icon {}

.notion-icon__page {}

.notion-collection-card__property-list {
    font-family: 'Times New Roman', serif!important;
    line-height: 1.15!important;
}

.notion-collection-card__property {}

.notion-property__date {}

.property-3d466277 {}

.date {}

.notion-property__select {}

.property-57576e3e {}

.notion-pill {}

.notion-pill:first-of-type:before {
    content: "Tags: "!important;
}

.notion-pill:after {
    content: ", "!important;
}

.notion-pill:last-of-type:after {
    content: ""!important;
}

.pill-red {}

.first {}

.pill-blue {}


/* Queries
------------------------------------------ */

@media (max-width: 840px) {

.notion-collection-card.gallery {
    padding: 6%!important;
}

    .notion-collection-card__cover img {
        aspect-ratio: 1 / 1!important;
    }
}