<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "es" }}">

{% include head.html %}

<body>
  <div class="wrapper">

    <header class="site-header" role="banner">
      <h1><a href="{{ site.url }}">Fernando Bruno</a></h1><span class="icon">&nbsp;&nbsp;&nbsp;&#9755;&nbsp;&nbsp;&nbsp;</span><span class="bajada">Artículos, traducciones y edición</span><span class="versalita"><a href="{{ site.url }}/drafts/">Drafts</a></span>


    </header>
    <main class="page-content" aria-label="Content">
      {{ content }}
    </main>

    {%- include footer.html -%}
  </div>
</body>

</html>
