---
layout: default
---


<div class="front">Esta sección reúne una serie de textos breves, algunos publicados en el blog <em>Variaciones encontradas</em> (2007-2012) y otros ineditos. Los textos contienen ideas provisorias y no siempre desarrolladas exitosamente, que refieren en general a temas de actualidad del momento en que fueron escritos. </div>

<div class="home">

<ul class="tag-list">
  {% for post in site.tags.drafts %}
  <li><span>{{ post.title }}. </span>{{ post.excerpt }} <a href="{{ post.url }}" class="no-border">[+]</a></li>
  {% endfor %}
</ul>

</div>
